<form [formGroup]="form" (ngSubmit)="handleFormSubmit()" class="pt-3 d-flex justify-content-center">
  <mat-form-field appearance="outline" floatLabel="always" class="search-field">
    <input formControlName="searchText" placeholder="Enter city name" autocomplete="off" matInput>
    <button mat-icon-button matSuffix type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</form>
<ng-template [ngIf]="humidityChartOptions && humidityChartOptions.series.length > 0">
  <highcharts-chart [Highcharts]="Highcharts" [options]="humidityChartOptions"></highcharts-chart>
</ng-template>
<ng-template [ngIf]="temperatureChartOptions && temperatureChartOptions.series.length > 0">
  <highcharts-chart [Highcharts]="Highcharts" [options]="temperatureChartOptions"></highcharts-chart>
</ng-template>

